#tablero{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

}

.casillas{
    display: flex;
    width: 30%;
    height: 30%;
    flex-direction: row;
    border: 1px solid red;
    margin: 1%;
}


#time-traking{
    font-size:50px;
    color:#434343;
  }